body {
  font-family: 'Roboto-Regular', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.header {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subtitle {
  font-family: 'Roboto-Bold', 'Arial', sans-serif;
  font-size: 24px;
  margin-top: 30px;
  line-height: 20px;
}

.paragraph {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  line-height: 20px;
  font-size: 16px;
}

.title {
  font-weight: normal;
  font-size: 64px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 10px;
}

.nav-item:last-of-type {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: #000;
  margin-top: 25px;
  font-size: 16px;
}

.footer-bottom {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 50px;
  color: rgba(255, 255, 255, 0.5)
}

.picture-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 5px;
  padding: 0;
  line-height: 0;
  font-size: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.picture-item {
  display: inline-block;
}

.img-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 0;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.img-item {
  width: 296px;
  height: 177px;
}

.img-item img {
  width: 100%;
  height: 100%;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 5px;
}

.navigation-item {
  display: inline;
  padding: 15px;
  line-height: 20px;
}

.navigation-link {
  text-decoration: none;
  color: #fff;
}

.content-block {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

@media screen and (max-width:1054px) {
  .content-block {
    flex-wrap: wrap;
  }
  .news-registration-block {
    flex-wrap: wrap;
  }
}

.events-block {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 810px;
  box-sizing: border-box;
}

.events-wrapper {
  width: fit-content;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.events-text {
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
}

.events-list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  line-height: 0;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.events-item {
  width: 360px;
  position: relative;
}

.events-img-education {
  background-image: url(/images/Tile-Big-01.png);
  height: 200px;
  background-size: cover;
  position: relative;
}

.events-info-education {
  position: absolute;
  height: 20px;
  padding: 0 10px;
  background-color: #468ed7;
  color: #000;
  bottom: 0;
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

.events-link {
  text-decoration: none;
}

.events-img-lessons {
  background-image: url(/images/Tile-Big-02.png);
  height: 200px;
  background-size: cover;
  position: relative;
}

.events-info-lessons {
  position: absolute;
  height: 20px;
  padding: 0 10px;
  background-color: #5dbf8c;
  color: #000;
  bottom: 0;
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

.events-img-lecturers {
  background-image: url(/images/Tile-Big-03.png);
  height: 200px;
  background-size: cover;
  position: relative;
}

.events-info-lecturers {
  position: absolute;
  height: 20px;
  padding: 0 10px;
  background-color: #c075b8;
  color: #000;
  bottom: 0;
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

.events-img-programs {
  background-image: url(/images/Tile-Big-04.png);
  height: 200px;
  background-size: cover;
  position: relative;
}

.events-info-programs {
  position: absolute;
  height: 20px;
  padding: 0 10px;
  background-color: #e0b072;
  color: #000;
  bottom: 0;
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

.events-title-block {
  display: flex;
  flex-direction: column;
}

.events-title {
  font-size: 16px;
  line-height: 30px;
  color: #000;
}

.events-data {
  font-size: 11px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.events-block-button {
  margin-top: 50px;
  text-align: center;
}

.events-button {
  padding: 30px;
  font-size: 16px;
  line-height: 20px;
  background-color: #5cbd5c;
  border-radius: 10px;
  border: none;
  color: #fff;
  transition: color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.events-button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
}

.events-button:focus {
  background-color: #f00;
  outline: none;
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
}

.events-button:active {
  background-color: #000;
  color: #fff;
}

.social-sidebar {
  width: 350px;
}

.social-network-block {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 30px;
}

.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.social-item {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-item img {
  width: 100%;
  max-width: 45px;
}

.social-media {
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
  margin-top: 10px;
  font-size: 16px;
}

.social-text {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
}

.social-text::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.social-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.users-block {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.users-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.users-text {
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  line-height: 20px;
}

.users-text::before {
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  position: absolute;
  bottom: -2px;
  background-color: #000;
}

.users-list {
  list-style: none;
  margin: 40px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.users-item {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
}

.users-item img {
  width: 80px;
}

.users-media-title {
  font-size: 16px;
  line-height: 20px;
}

.users-media-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.users-block-title {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.lectures-block {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 30px;
}

.lectures-wrapper {
  width: fit-content;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.lectures-text {
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
}

.lectures-list {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  line-height: 0;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lectures-item {
  width: 285px;
}

.lectures-img-air {
  background-image: url(/images/video-01.png);
  height: 200px;
  background-size: cover;
}

.lectures-img-fire {
  background-image: url(/images/video-02.png);
  height: 200px;
  background-size: cover;
}

.lectures-img-ground {
  background-image: url(/images/video-03.png);
  height: 200px;
  background-size: cover;
}

.lectures-img-water {
  background-image: url(/images/video-04.png);
  height: 200px;
  background-size: cover;
}

.news-registration-block {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.news-block {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 810px;
  box-sizing: border-box;
}

.news-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.news-text {
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  line-height: 20px;
}

.news-text::before {
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  position: absolute;
  bottom: -2px;
  background-color: #000;
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.news-item {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.news-media-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.news-media-subtitle {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.news-media-date {
  font-size: 11px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.news-content {
  display: flex;
}

.news-content img {
  width: 105px;
  height: 80px;
  margin-right: 10px;
}

.news-block-title {
  display: flex;
  flex-direction: column;
}


.registration-sidebar-block {
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
}

.registration-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.registration-text {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 16px;
}

.registration-text::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.registration-form {
  margin-top: 20px;
}

.registration-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  padding: 0;
  width: 50%;
  color: rgba(0, 0, 0, 0.5);
}

.field-input {
  padding: 10px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}

.field-input:last-of-type {
  margin-bottom: 20px;
}

.field-input:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #5cbd5c;
  outline: none;
}

.form-block-button {
  text-align: right;
}

.form-button {
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  background-color: #5cbd5c;
  border-radius: 10px;
  border: none;
  color: #fff;
  width: 50%;
  transition: color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.form-button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
}

.form-button:focus {
  background-color: #f00;
  outline: none;
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 80, 40, 0.2);
}

.form-button:active {
  background-color: #000;
  color: #fff;
}

