@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto-Light'),
  url('../fonts/Roboto-Light.woff2') format(woff2), 
  url('../fonts/Roboto-Light.woff') format(woff);
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto-Regular'),
  url('../fonts/Roboto-Regular.woff2') format(woff2), 
  url('../fonts/Roboto-Regular.woff') format(woff);
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto-Bold'),
  url('../fonts/Roboto-Bold.woff2') format(woff2), 
  url('../fonts/Roboto-Bold.woff') format(woff);
}

@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto-Thin'),
  url('../fonts/Roboto-Thin.woff2') format(woff2), 
  url('../fonts/Roboto-Thin.woff') format(woff);
}
